{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br />
    <h1  align="center">Welcome to Celebrity Voice AI</h1>
    <br />
    <p class="lead">
      Experience world-class text extraction, AI model generation, and AI
      chatting service technology with CelebrityVoicesAI. Our cutting-edge
      technology is designed to help businesses and individuals alike take their
      communication to the next level.
    </p>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <h3>Text Extraction</h3>
          <p class="text-muted"> 
            Our advanced text extraction technology uses AI to quickly and
            accurately extract text from any document or source.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <h3>Model Generation</h3>
          <p class="text-muted">
            Our AI model generation service uses machine learning to create
            custom AI models that can be used to automate a wide range of tasks.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box">
          <h3>AI Chatting Service</h3>
          <p class="text-muted">
            Our AI chatting service uses natural language processing to provide
            a seamless and personalized chatting experience for your customers.
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
