{% extends "base.html" %} 

{% block title %} Persona Tutor {% endblock %}

{% block content%}
<h1 align="center">Conversation: Beep Boop Robot Tutor</h1>
<br />
<ul class="list-group list-group-flush" id="notes"> 
    <li class="list-group-item">
        Beep Boop Robot Tutor: What can I help you learn or prepare today? or, How are you feeling today?
        <hr />
    </li>
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
    <br />
    <button type="button" class="btn btn-primary" onClick="deleteAllNotes()">Delete All</button>
</ul>
<br />
<form method="POST">
    <textarea name="note" id="note" class="form-control" placeholder="Type your interview question here..."></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>
{% endblock %}